@import url('https://fonts.googleapis.com/css?family=Oswald|Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Oswald|Righteous|Sigmar+One&display=swap');

.navbar{
    background: rgb(80, 107, 184);
    
  }
  li {
    display: inline;
    padding:10px;
    
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(48, 140, 165);
    font-family: 'Oswald', sans-serif;
font-family: 'Sigmar One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Cinzel', serif;
border-style: inset;
border-block-color: rgb(18, 20, 158);

  }
  
  li {
    float: left;
    border-right:1px solid #051615;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #16b3a5;
  }
  
  .active {
    background-color: #127018;
  }
  
  .navbar-heading{
    float:center;
    font-size:30px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sigmar One', cursive;
    font-style: italic;
    margin: 10px;
    border-left: 10px;
    letter-spacing: 2px;
    /* direction: rtl; */
    text-shadow: 3px 2px rgb(110, 187, 9);
    vertical-align: text-top;
    padding-left: 50px;
  }

  .copywrite{
    font-size:10px;
  }

